* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #04044c;
}

h2 {
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 50%);
}

section {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    overflow-y: scroll;
}

section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

section > div {
    padding: 100px 10px;
}

section div img {
width: 50vh;
aspect-ratio: 1;
border-radius: 50%;
transform-style: preserve-3d;
animation: rotate 30s linear infinite;
}

a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1.5px solid white;
    padding: 10px;
    color: white;
    text-decoration: none;
    gap: 20px;
    align-items: center;
    border-radius: 4px;
    transition-duration: 200ms;
}

a:hover {
    background: white;
    color: #0f172a;
}

a i {
    font-size: 1.3em;
}

@keyframes rotate {
0% {
transform: perspective(1000px) rotateY(0deg);
}

100% {
transform: perspective(1000px) rotateY(360deg);
}
}